/* $Id$ */

/**
 * Hefring Stylesheet
 *
 * Subtheme of Eldir
 *
 * By Dave Hall (dave@technocrat.com.au)
 */

/**
 * HEADER =============================================================
 */
div#header div.site-name {
  border-left: 0;
  padding-left: 0;
  }

/**
 * MAIN CONTENT REGION ================================================
 */

html div#header-region ul.tabs li a {
  font-size: 14px;
  border-radius: 5px 5px 0 0;
  background:#666;
  margin-right:3px;
  color:#fff;
}
html div#header-region ul.tabs li a:hover {
  background:#bbb;
  color:#000;
}

#page #main {
  width:650px;
}
div.sidebar {
  width:250px;
}
div#page div.limiter{
  background-image:url('images/page.png');
}
#page.wide div.limiter {
  background: #fff;
}

#page.wide #main {
  width: 920px;
}

#page ul.tabs.secondary {
  border:0;
  background:none;
  height:auto;
  margin-bottom:10px;
}

ul.tabs.secondary li{
  float:none;
  display:block;
  padding:0;
  margin:0 0 5px;
  border:0;
}
#page ul.tabs.secondary li a{
  display:block;
  float:none;
  border-radius:3px;
  background:#666;
  color:#fff;
  font-weight:bold;
  font-size:13px;
  line-height:20px;
  padding:5px 10px;
}
#page ul.tabs.secondary li a:hover{
  background:#bbb;
  box-shadow:none;
  color:#000;
}
.sidebar ul.tabs.secondary {
  clear:both;
}

form div.form-item {
  padding:0 0 10px;
  margin:10px 0 0;
}

/**
 * CONSOLE MESSAGES ===================================================
 */
  div#console div.error a {
    color: #c30;
    }

  div#console div.warning a {
    color: #c80;
    }

  div#console div.ok a {
    color: #0c6;
    }


/**
 * Reply
 */

.replies-wrapper form {
  padding:10px;
  border:1px solid #e8e8e8;
}

ul.replies {
  list-style:none;
  margin:10px 0;
  padding:0;
  border-bottom:1px solid #E8E8E8;
}
ul.replies li {
  margin:0;
  border-top:1px solid #E8E8E8;
  padding:10px 0;
}
ul.replies .reply-author, ul.replies .reply-body, ul.replies .reply-title {
  margin-right:125px;
}
ul.replies .reply-meta {
  color:#aaa;
  font-size:90%;
  margin-bottom:5px;
  float:right;
}
ul.replies h4 {
  margin-bottom:0;
  padding-bottom:0;
  line-height:14px;
}
ul.replies .reply-author {
  color:#888;
  font-size:90%;
}

ul.replies .reply-links a {
  margin-right:5px;
}

td ul.links {
  list-style:none;
}

td ul.links li {
  margin-left:5px;
  padding-left:5px;
  border-left:1px solid #ccc;
  line-height:14px;
}
td ul.links li:first-child {
  margin-left:0;
  padding-left:0;
  border-left:0;
}
td ul.links li a:hover {
  text-decoration:underline;
}

html ul.job-env-status li.passed {
  background:#ddd;
}
html ul.job-env-status li.current {
  background:#024;
  color:#fff;
  box-shadow:0 0 5px 2px #8CF;
}
html ul.job-env-status li.needs-attention {
  background:#400;
  color:#fff;
  box-shadow:0 0 5px 2px #C30;
}
html ul.job-env-status li.approved,
html ul.job-env-status li.completed {
  background:#040;
  color:#fff;
  box-shadow:0 0 5px 2px #030;
}

html ul.action-links li {
  margin-right: 0.5em;
}

/*
 Features module overrides.
*/
table th a.admin-default {
  color: #000;
}

table th a.admin-overridden:link,
table th a.admin-overridden:visited {
  background-color: #f33;
}

div.sidebar ul.links {
  list-style:disc;
}

div.sidebar ul.links li {
  list-style:disc;
  display:list-item;
  margin-left:1.5em;
  float:none;
}

div.sidebar ul.links li a {
  display:block;
  float:none;
}